body{
    margin: 0px;
    padding: 0px;
}
.container_green {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ajuste para alinhar a partir do topo */
    background-color: #038C65; /* Cor de fundo */
    text-align: center;
    background-size: auto 720px; /* Altura de 720px */
    padding: 0 160px; /* Afastado das laterais em 160px */
    margin-left: 160px;
    margin-right: 160px;
    
    
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.search input {
    margin-bottom: 15px;
}
.center-text {
    text-align: center; /* Centralize o texto */
}
.container_ice{
    background-color: white;
}
.faqs{
    background-color: #FEFEFF;
}
